[Unit]
Description=Video recordings web server
After=gstreamer.service

[Service]
Type=simple
ExecStartPre=/usr/bin/rm -f /var/log/racksview/recwebserver.log
ExecStart=/usr/bin/python3 /opt/racksview/recwebserver.py --config /etc/racksview/recwebserver.ini
Restart=on-failure
RestartSec=5
StandardOutput=file:/var/log/racksview/recwebserver.log
StandardError=inherit

[Install]
WantedBy=multi-user.target