[Unit]
Description=Video Recording web server
After=vrecorder.service

[Service]
Type=Simple
ExecStartPre=/usr/bin/rm -f /var/log/racksview/recwebserver.log
ExecStart=/usr/bin/python3 /opt/racksview/recwebserver.py --config /etc/racksview/recwebserver.ini
Restart=on-failure
StandardOutput=file:/var/log/racksview/recwebserver.log
StandardError=inherit
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target