[Unit]
Description=MJPEG HTTP Restream Service Low Resolution
After=gstreamer.service
Requires=gstreamer.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/racksview/restreamer.py -c /etc/racksview/webstreamerlow.ini
Restart=on-failure
RestartSec=5
StandardOutput=file:/var/log/racksview/webstreamerlow.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
