[Unit]
Description=Ultrasonic motion detector on /dev/serial1
After=network.target

[Service]
ExecStartPre=/bin/sleep 2
ExecStartPre=/usr/bin/rm -f /var/log/racksview/mdetector-front.log
ExecStart=/opt/racksview/bin/start_mdetector_front.sh
Restart=on-failure
RestartSec=10
StandardOutput=null
StandardError=file:/var/log/racksview/mdetector-front.log
MemoryMax=50M

[Install]
WantedBy=multi-user.target
