[Unit]
Description=Restart GStreamer capture services

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart gstreamer-back.service gstreamer-front.service