[Unit]
Description=GStreamer Video Stream Service
After=network.target

[Service]
ExecStart=/usr/local/bin/start_gstreamer.sh
Restart=on-failure
StandardOutput=append:/var/log/restreamer1.log
StandardError=inherit
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
