[Unit]
Description=MJPEG HTTP Restream Service Low Resolution
After=gstreamer.service
Requires=gstreamer.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/restream.py -c /usr/local/bin/webstreamlow.ini
Restart=on-failure
RestartSec=5
StandardOutput=file:/var/log/webstreamlow.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
