[Unit]
Description=MJPEG HTTP Restream Service High Resolution
After=gstreamer.service
Requires=gstreamer.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/restreamer.py -c /usr/local/bin/webstreamerhigh.ini
Restart=on-failure
RestartSec=5
StandardOutput=file:/var/log/webstreamhigh.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
