[Unit]
Description=GStreamer capture from USB camera
After=network.target

[Service]
ExecStartPre=/usr/bin/rm -f /var/log/racksview/gstreamer-front.log
ExecStart=/opt/racksview/bin/start_gstreamer.sh --camera /dev/video0 --porthigh 9013 --portlow 9012 --label front
Restart=on-failure
RestartSec=60
StandardOutput=null
StandardError=file:/var/log/racksview/gstreamer-front.log
MemoryMax=100M

[Install]
WantedBy=multi-user.target
