[Unit]
Description=Daily launch smanager at 00:00

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true
Unit=smanager.service

[Install]
WantedBy=timers.target