[Unit]
Description=VRecorder Front Service
After=gstreamer-front.service
Requires=gstreamer-front.service

[Service]
Type=simple
ExecStart=/opt/racksview/bin/start_vrecorder.sh --port 9013 --file event-front --flag /opt/racksview/var/motion-front.flg --unflag /opt/racksview/var/no-motion-front.flg
Restart=on-failure
ExecStartPre=/usr/bin/rm -f /var/log/racksview/vrecoder-front.log
StandardOutput=append:/var/log/racksview/vrecorder-front.log
StandardError=inherit

[Install]
WantedBy=multi-user.target