[Unit]
Description=VRecorder Back Service
After=gstreamer-back.service
Requires=gstreamer-back.service

[Service]
Type=simple
ExecStart=/opt/racksview/bin/start_vrecorder.sh --port 9013 --file event-door2 --flag /opt/racksview/var/motion-back.flg --unflag /opt/racksview/var/no-motion-back.flg
Restart=on-failure
ExecStartPre=/usr/bin/rm -f /var/log/racksview/vrecoder-back.log
StandardOutput=append:/var/log/racksview/vrecorder-back.log
StandardError=inherit

[Install]
WantedBy=multi-user.target